.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
  }

  .formdiv{
    padding: 10px;
    box-shadow: 0 0 1px 1px wheat;
  }
  
  .center-form {
    width: 300px; /* Adjust the width as needed */
  }
  
  .form-group {
    margin-bottom: 1px;
  }

  .form-group label{
    font-weight: bold;
  }
  
  /* Additional styles for input fields */
  textarea,
  select {
    width: 100%;
    padding: 8px;
    margin-top: 1px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type="text"],input[type="password"],input[type="date"],input[type="email"]{
    width: 100%;
    padding: 8px;
    margin-top: 1px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }
  